.header-custom {
    padding: 10px;
    background-color: rgb(177, 26, 26);
}

.logo {
    width: 200px;
    height: 85px;
}

.header-description {
    font-size: 1.2em;
    font-weight: 550;
}

.header-button {
    font-size: 1.0rem;
    font-weight: 550;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}