#root {
    background-color: white;
}

.header-custom {
    padding: 20px;
    background-color: #4C4E49;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.0625em;
    text-shadow: 1px 1px black;
    color: white;
    margin-left: 2%;
}

.header-button {
    font-size: 1.0rem;
    font-weight: 550;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.header-button-add {
    font-size: 1.5rem;
    font-weight: 550;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

label {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
}

.comment-button {
    font-size: 1.0rem;
    font-weight: 550;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-flex-container {
    margin: 1%;
    margin-bottom: 0%;
    padding: 2% 20% 2% 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
    background-color: #39AEC5;
    align-items: center;
    color: white;
}

.top-flex-container h1 {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.0625em;
    text-shadow: 1px 1px black;
}

.top-flex-container p {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.top-flex-container input {
    font-family: 'Lusitana', serif;
}

.input {
    font-family: 'Lusitana', serif;
    width: 80%;
    height: 40px;
    border-radius: 2px;
    border-color: rgb(143, 143, 143);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-text {
    padding: 5%;
    font-size: 28px;
    letter-spacing: 0.01em;
    font-family: 'Bebas Neue', cursive;
}

.movie-flex-container {
    display: flex;
    width: 500px;
    height: 400px;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2%;
    border-radius: 2px;
}

.remove-movie {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 19, 19);
    color: white;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 3px;
    font-family: 'Bebas Neue', cursive;
    width: 40px;
}

.movie-title {
    font-size: 3.2em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    text-align: center;
}

.movie-desc {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
}

.movie-rating {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
    font-weight: 700;
}

.comment-container {
    width: 80%;
    height: 200px;
    border: 2px solid black;
    overflow: auto;
    background-color: white;
    color: black;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .header-button, .header-button-add {
        margin-bottom: 1%;
        margin-top: 1%;
    }

    .top-flex-container {
        padding: 2% 10% 2% 10%;
    }

    .top-flex-container p {
        font-size: 14px;
    }
    
    .top-flex-container input {
        text-align: center;
    }

    .intro-text {
        font-size: 20px;
        margin: 1%;
    }
    
}